/* Custom CSS overrides - Gap */

/* primary summary */
body .bv-cleanslate .bv-summary-bar .bv-rating-ratio-number {padding-top: 4px !important;}
body .bv-cleanslate .bv-summary-bar .bv-rating-ratio-count {padding-top: 4px !important;}

/* inline ratings */
body .bv-cleanslate .bv-inline-rating-container .bv-stars-container .bv-rating-ratio-number {padding-top: 4px !important;}
body .bv-cleanslate .bv-stars-container dd {padding-top: 4px !important;}